option_settings:
  aws:elasticbeanstalk:application:environment:
    ASPNETCORE_ENVIRONMENT: Production
    DOTNET_CLI_TELEMETRY_OPTOUT: "1"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /css: wwwroot/css
    /js: wwwroot/js
    /lib: wwwroot/lib
